/backend/model/*.pkl
*.iml
.gradle
/android/local.properties
/android/.idea
/android.DS_Store
/android/build
/android/app/build
/android/.gradle
/android/captures
/android.externalNativeBuild
/android.cxx
/androidlocal.properties